<a href="https://colab.research.google.com/github/Rafiryd/Rafiryd/blob/rafiryd/expore%20datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import datetime

In [19]:
df = pd.read_excel('df_time.xlsx')
df.head()

   Unnamed: 0                  at
0           0 2022-10-20 02:10:35
1           1 2022-10-29 11:18:02
2           2 2022-10-20 18:21:45
3           3 2022-08-15 16:53:45
4           4 2022-10-15 03:40:36

In [25]:
df.dtypes

index                  int64
Unnamed: 0             int64
at            datetime64[ns]
date                  object
time                  object
dtype: object

In [22]:
#df['hr'] = df['date'].dt.strftime('%Y-%m-%d %H:00')
df['time'] = df['at'].dt.strftime('%H:00')
df

      Unnamed: 0                  at        date   time
0              0 2022-10-20 02:10:35  2022-10-20  02:00
1              1 2022-10-29 11:18:02  2022-10-29  11:00
2              2 2022-10-20 18:21:45  2022-10-20  18:00
3              3 2022-08-15 16:53:45  2022-08-15  16:00
4              4 2022-10-15 03:40:36  2022-10-15  03:00
...          ...                 ...         ...    ...
996          996 2022-07-30 12:56:41  2022-07-30  12:00
997          997 2022-09-11 12:56:54  2022-09-11  12:00
998          998 2022-10-14 13:43:16  2022-10-14  13:00
999          999 2022-07-14 07:18:45  2022-07-14  07:00
1000        1000 2022-08-16 10:57:22  2022-08-16  10:00

[1001 rows x 4 columns]

In [30]:
df.reset_index(inplace=True)
df['year'] = df.date.dt.year
df['month'] = df.date.dt.month
df['day'] = df.date.dt.day
df['day of week'] = df.date.dt.dayofweek

df.set_index('date', inplace=True)
df.head()

ValueError: ignored

In [31]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df

,level_0,index,Unnamed: 0,at,date,time,year,month,day,day of week
0,0,0,0,2022-10-20 02:10:35,2022-10-20,02:00,2022,10,20,3
1,1,1,1,2022-10-29 11:18:02,2022-10-29,11:00,2022,10,29,5
2,2,2,2,2022-10-20 18:21:45,2022-10-20,18:00,2022,10,20,3
3,3,3,3,2022-08-15 16:53:45,2022-08-15,16:00,2022,8,15,0
4,4,4,4,2022-10-15 03:40:36,2022-10-15,03:00,2022,10,15,5
...,...,...,...,...,...,...,...,...,...,...
996,996,996,996,2022-07-30 12:56:41,2022-07-30,12:00,2022,7,30,5
997,997,997,997,2022-09-11 12:56:54,2022-09-11,12:00,2022,9,11,6
998,998,998,998,2022-10-14 13:43:16,2022-10-14,13:00,2022,10,14,4
999,999,999,999,2022-07-14 07:18:45,2022-07-14,07:00,2022,7,14,3
1000,1000,1000,1000,2022-08-16 10:57:22,2022-08-16,10:00,2022,8,16,1

In [35]:
df['Weekday Name'] = df.date.dt.strftime("%A")
df.set_index('date', inplace=True)
df.head()

,level_0,index,Unnamed: 0,at,time,year,month,day,day of week,Weekday Name
date,,,,,,,,,,
2022-10-20,0,0,0,2022-10-20 02:10:35,02:00,2022,10,20,3,Thursday
2022-10-29,1,1,1,2022-10-29 11:18:02,11:00,2022,10,29,5,Saturday
2022-10-20,2,2,2,2022-10-20 18:21:45,18:00,2022,10,20,3,Thursday
2022-08-15,3,3,3,2022-08-15 16:53:45,16:00,2022,8,15,0,Monday
2022-10-15,4,4,4,2022-10-15 03:40:36,03:00,2022,10,15,5,Saturday

In [36]:
df.dtypes

level_0                  int64
index                    int64
Unnamed: 0               int64
at              datetime64[ns]
time                    object
year                     int64
month                    int64
day                      int64
day of week              int64
Weekday Name            object
dtype: object